In [1]:
import random
import os

import pandas as pd
import boto3
from faker import Faker


faker = Faker()

## GENERATE SAMPLE DATA

In [12]:
df = pd.DataFrame([
    {
        'price': round(1000 * random.random(), 2),
        'name': faker.name(),
        'email': faker.email(),
        'quantity': random.randint(1, 10),
    }
    for i in range(0, 10 ** 5)
])
df.head(5)

                     email                     name   price  quantity
0      dylanfunk@gmail.com       Damarion Bahringer  910.72         9
1    loraadams@hotmail.com          Nikki Aufderhar  254.71         2
2    dayleglover@braun.com  Mrs. Mikayla Vandervort  377.93         2
3  kinseydubuque@gmail.com     Mrs. Tisha Aufderhar  104.15         6
4         eziemann@kub.com             Portia Kunde  285.58         3

In [13]:
df.to_csv('./shopping_1.csv', index=False)

## ATHENA create tables

In [ ]:
# CREATE EXTERNAL TABLE IF NOT EXISTS lakey.shopping (
#   `email` string,
#   `name` string,
#   `price` float,
#   `quantity` int 
# )
# ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
# WITH SERDEPROPERTIES (
#   'serialization.format' = ',',
#   'field.delim' = ','
# ) LOCATION 's3://lakey/tables/shopping/'
# TBLPROPERTIES ('has_encrypted_data'='false');

## Connect with ATHENA and Query

In [2]:
athena = boto3.client(
    'athena',
    region_name=os.environ['AWS_LAKEY_REGION'],
    aws_access_key_id=os.environ['AWS_S3_KEY_ID'],
    aws_secret_access_key=os.environ['AWS_S3_KEY_SECRET'])

In [3]:
s3 = boto3.client(
    's3',
    region_name=os.environ['AWS_LAKEY_REGION'],
    aws_access_key_id=os.environ['AWS_S3_KEY_ID'],
    aws_secret_access_key=os.environ['AWS_S3_KEY_SECRET'])

In [22]:
response = athena.start_query_execution(
    QueryString='SELECT * FROM shopping where quantity > 3;',
    QueryExecutionContext={
      'Database': 'lakey'
    },
    ResultConfiguration={
      'OutputLocation': 's3://lakey/results/',
    })

In [23]:
response

{'QueryExecutionId': 'cd471422-ef8f-484f-801a-2c7f52f47d3b',
 'ResponseMetadata': {'RequestId': 'e3fc6ba8-fa82-4964-b6f7-2637b5fe0174',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.1',
   'date': 'Thu, 25 Apr 2019 20:14:55 GMT',
   'x-amzn-requestid': 'e3fc6ba8-fa82-4964-b6f7-2637b5fe0174',
   'content-length': '59',
   'connection': 'keep-alive'},
  'RetryAttempts': 0}}

In [24]:
s3.download_file('lakey', 'results/cd471422-ef8f-484f-801a-2c7f52f47d3b.csv', './results.csv')
# response['QueryExecutionId']

In [10]:
s3.put_object(
    Key='/results/dc5f60c4-881d-4390-89b2-555cd9999e27.csv',
    Bucket='lakey',
    ACL='public-read')

{'ResponseMetadata': {'RequestId': '87A9C9A2DBDFC4A1',
  'HostId': 'E74VKux7dTPx4m1YMyhK3PTpAWMraV7mgKUlIRl7mw7dnnf1zxaJ17AgzFZQdRVs/sJJwWhsZZE=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'E74VKux7dTPx4m1YMyhK3PTpAWMraV7mgKUlIRl7mw7dnnf1zxaJ17AgzFZQdRVs/sJJwWhsZZE=',
   'x-amz-request-id': '87A9C9A2DBDFC4A1',
   'date': 'Fri, 26 Apr 2019 09:44:25 GMT',
   'etag': '"d41d8cd98f00b204e9800998ecf8427e"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"d41d8cd98f00b204e9800998ecf8427e"'}

In [9]:
s3.get_object_acl(
    Key='/results/dc5f60c4-881d-4390-89b2-555cd9999e27.csv',
    Bucket='lakey')

{'ResponseMetadata': {'RequestId': '680CFD4A6793DFE0',
  'HostId': 'Fd39564EkHL6kwhs9fKZU3tbFkwmoGt9KaNWBV1nDxvEVrPRIpx90nD1gLCulHnI++czSCSAgxU=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Fd39564EkHL6kwhs9fKZU3tbFkwmoGt9KaNWBV1nDxvEVrPRIpx90nD1gLCulHnI++czSCSAgxU=',
   'x-amz-request-id': '680CFD4A6793DFE0',
   'date': 'Fri, 26 Apr 2019 09:39:45 GMT',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Owner': {'ID': '3f574f8158d7a806f65506cd2d420f9f1f411f5dd67a6d444c09a8ad624125f0'},
 'Grants': [{'Grantee': {'ID': '3f574f8158d7a806f65506cd2d420f9f1f411f5dd67a6d444c09a8ad624125f0',
    'Type': 'CanonicalUser'},
   'Permission': 'FULL_CONTROL'},
  {'Grantee': {'Type': 'Group',
    'URI': 'http://acs.amazonaws.com/groups/global/AllUsers'},
   'Permission': 'READ'}]}

In [ ]:
{'ResponseMetadata': {'RequestId': 'BE5EF245147D9544',
  'HostId': 'Xx/trl9/shIYM2B3RJfhbT9mD6Io12i0tb3bHWZWVIz96w4ktS9Y0ATVzQMnoi2R1kMDRxK9bZc=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Xx/trl9/shIYM2B3RJfhbT9mD6Io12i0tb3bHWZWVIz96w4ktS9Y0ATVzQMnoi2R1kMDRxK9bZc=',
   'x-amz-request-id': 'BE5EF245147D9544',
   'date': 'Fri, 26 Apr 2019 09:29:46 GMT',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Owner': {'ID': '3f574f8158d7a806f65506cd2d420f9f1f411f5dd67a6d444c09a8ad624125f0'},
 'Grants': [{'Grantee': {'ID': '3f574f8158d7a806f65506cd2d420f9f1f411f5dd67a6d444c09a8ad624125f0',
    'Type': 'CanonicalUser'},
   'Permission': 'FULL_CONTROL'},
  {'Grantee': {'Type': 'Group',
    'URI': 'http://acs.amazonaws.com/groups/global/AllUsers'},
   'Permission': 'READ'}]}