In [4]:
import random
import os

import pandas as pd
import boto3
from faker import Faker


faker = Faker()

## GENERATE SAMPLE DATA

In [12]:
df = pd.DataFrame([
    {
        'price': round(1000 * random.random(), 2),
        'name': faker.name(),
        'email': faker.email(),
        'quantity': random.randint(1, 10),
    }
    for i in range(0, 10 ** 5)
])
df.head(5)

                     email                     name   price  quantity
0      dylanfunk@gmail.com       Damarion Bahringer  910.72         9
1    loraadams@hotmail.com          Nikki Aufderhar  254.71         2
2    dayleglover@braun.com  Mrs. Mikayla Vandervort  377.93         2
3  kinseydubuque@gmail.com     Mrs. Tisha Aufderhar  104.15         6
4         eziemann@kub.com             Portia Kunde  285.58         3

In [13]:
df.to_csv('./shopping_1.csv', index=False)

## ATHENA create tables

In [ ]:
# CREATE EXTERNAL TABLE IF NOT EXISTS lakey.shopping (
#   `email` string,
#   `name` string,
#   `price` float,
#   `quantity` int 
# )
# ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
# WITH SERDEPROPERTIES (
#   'serialization.format' = ',',
#   'field.delim' = ','
# ) LOCATION 's3://lakey/tables/shopping/'
# TBLPROPERTIES ('has_encrypted_data'='false');

## Connect with ATHENA and Query

In [18]:
athena = boto3.client(
    'athena',
    aws_access_key_id=os.environ['AWS_S3_KEY_ID'],
    aws_secret_access_key=os.environ['AWS_S3_KEY_SECRET'])

In [12]:
s3 = boto3.client(
    's3',
    aws_access_key_id=os.environ['AWS_S3_KEY_ID'],
    aws_secret_access_key=os.environ['AWS_S3_KEY_SECRET'])

In [22]:
response = athena.start_query_execution(
    QueryString='SELECT * FROM shopping where quantity > 3;',
    QueryExecutionContext={
      'Database': 'lakey'
    },
    ResultConfiguration={
      'OutputLocation': 's3://lakey/results/',
    })

In [23]:
response

{'QueryExecutionId': 'cd471422-ef8f-484f-801a-2c7f52f47d3b',
 'ResponseMetadata': {'RequestId': 'e3fc6ba8-fa82-4964-b6f7-2637b5fe0174',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.1',
   'date': 'Thu, 25 Apr 2019 20:14:55 GMT',
   'x-amzn-requestid': 'e3fc6ba8-fa82-4964-b6f7-2637b5fe0174',
   'content-length': '59',
   'connection': 'keep-alive'},
  'RetryAttempts': 0}}

In [24]:
s3.download_file('lakey', 'results/cd471422-ef8f-484f-801a-2c7f52f47d3b.csv', './results.csv')
# response['QueryExecutionId']

atena.ipynb  results.csv  shopping_0.csv  shopping_1.csv