In [20]:
from glob import glob
import modin.pandas as pd
import dask.dataframe as dd

In [16]:
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', True)
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_columns', 100)

In [17]:
def read_first_parquet(path):
    first_file = glob(path)
    return pd.read_parquet(first_file[0])

## Real weather data

In [9]:
read_first_parquet('../data/weather_real/*/*/*.parquet').head()

  zip_code obs_geo_lat obs_geo_lng  obs_name  distance             timestamp day_ind  temp  feels_like  icon_extd  wx_icon wx_phrase  pressure  pressure_tend    pressure_desc  uv_index uv_desc  dewPt  heat_index    rh   vis   wc   wdir wdir_cardinal  gust  clds  wspd  precip_total  precip_hrly
0    27239       52.79        8.64  Diepholz      1040  2018-10-02T00:00:00Z       N   6.0         2.0     3300.0     33.0      Fair    1014.6            1.0           Rising         0     Low    4.0         6.0  88.0  55.0  2.0  270.0             W  22.0  None  18.0           NaN          NaN
1    49635       52.63        7.98  Diepholz       429  2018-10-02T00:00:00Z       N   6.0         2.0     3300.0     33.0      Fair    1014.6            1.0           Rising         0     Low    4.0         6.0  88.0  55.0  2.0  270.0             W  22.0  None  18.0           NaN          NaN
2    27239       52.79        8.64  Diepholz      1040  2018-10-02T01:00:00Z       N   6.0         2.0     3300.0     33.0      Fair    1014.4            2.0  Falling Rapidly         0     Low    3.0         6.0  85.0  65.0  2.0  260.0             W  25.0  None  18.0           NaN          NaN
3    49635       52.63        7.98  Diepholz       429  2018-10-02T01:00:00Z       N   6.0         2.0     3300.0     33.0      Fair    1014.4            2.0  Falling Rapidly         0     Low    3.0         6.0  85.0  65.0  2.0  260.0             W  25.0  None  18.0           NaN          NaN
4    27239       52.79        8.64  Diepholz      1040  2018-10-02T02:00:00Z       N   4.0         2.0     2600.0     26.0    Cloudy    1014.4            2.0          Falling         0     Low    3.0         4.0  88.0  50.0  2.0  230.0            SW  14.0  None  11.0           NaN          NaN

## Fake devices with geolocation

In [14]:
read_first_parquet('../data/device_geolocations_fake/1000_*.parquet').head()

                           gateway_uuid  geo_lat  geo_lng zip_code
0  d7d0ca76-1b33-4cf2-8856-f09617e2bfbd  52.7308  13.3596    16562
1  782b33a8-cb97-40d5-834b-418d84a5b817  51.1715   7.0084    42697
2  333db7b3-fd48-44c4-a7d4-a77269525571  51.1697   7.0111    42697
3  229bad0f-3f07-42c4-abbc-bdc0fc178e5f  52.7296  13.3604    16562
4  93c83e36-10c0-4c6e-afff-16f535e212e3  48.2399  11.4797    85757

## Fake features/events

In [66]:
read_first_parquet('../data/features_fake/*/*/*.parquet').head()

                           gateway_uuid             timestamp                          property  value
0  cbf4a64b-561e-4044-98c6-4aa732e8fcd3  2018-10-02T00:00:00Z  device.temperature.outside/value    5.4
1  4211f7a8-de50-48f5-844d-587a3b73d65c  2018-10-02T00:00:00Z     device.temperature.room/value   19.7
2  23c36094-2517-4d96-9ebd-d135a173d320  2018-10-02T00:00:00Z     device.temperature.room/value   19.2
3  232529a4-81a7-4ba4-8771-ded92b3e1a4b  2018-10-02T00:00:00Z     device.temperature.room/value   20.7
4  b0a671b9-4ab5-4f60-b3b4-e2edcf477686  2018-10-02T00:00:00Z     device.temperature.room/value   18.5